.Homepage {
  margin: 20px auto;
  width: 70%;
}

.menu_bar {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 15px 0;
}

.menu_tagline h2 {
  font-size: 32px;
  font-weight: var(--fw-med);
  max-width: fit-content;
}

.menu_tagline p {
  margin-top: 10px;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  min-height: 44px;
  padding-left: 20px;
  min-width: 200px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search input[type='search']::-webkit-search-decoration,
.search input[type='search']::-webkit-search-cancel-button,
.search input[type='search']::-webkit-search-results-button,
.search input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.search input:focus {
  outline: none;
}

.search_icon {
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 44px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: text;
}

.search_icon i {
  color: grey;
}

.restaurants {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card_container {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  transition: all 0.5s ease;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.images {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card_item {
  padding: 15px;
}

.card_detail,
.card_city,
.card_rating {
  display: flex;
  align-items: center;
}

.card_title {
  font-size: 18px;
  font-weight: var(--fw-med);
  transition: all 0.3s;
}

.card_title:hover {
  color: var(--second-color);
  padding-left: 5px;
}

.card_detail {
  margin: 20px 0 10px 0;
}

.card_city {
  margin-right: 10px;
}

.icon i {
  margin-right: 5px;
  color: var(--second-color);
}

.card_desc {
  font-weight: var(--fw-reg);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 1.5;
}

@media screen and (max-width: 1200px) {
  .restaurants {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (max-width: 900px) {
  .menu_bar {
    flex-direction: column;
  }

  .menu_tagline h2 {
    margin: 0 auto;
  }

  .menu_tagline p {
    text-align: center;
  }

  .search {
    margin-top: 30px;
  }

  .search input {
    min-width: 90%;
  }

  .search_icon {
    min-width: 10%;
  }

  .restaurants {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 600px) {
  .restaurants {
    grid-template-columns: 1fr;
  }
}
