:root {
  --main-font: 'Montserrat', sans-serif;
  --second-font: 'Baskervville', serif;
  --main-color: #1d1d1f;
  --second-color: #e4d500;
  --bg-dark: #333333;
  --bg-greyish: #ececec;
  --fw-thin: 300;
  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--main-color);
}

body {
  background-color: var(--bg-greyish);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

textarea {
  resize: none;
}
